
  <div class="row u-home-top">
    <div class="col-md-8 offset-md-2">
      <div class="search-form">
        <%= form_with(url: search_path, method: :get, local: true) do |f| %>
          <div class="search-menu">
            <span class= "search-select"><%= f.select :model, [["ãŠåº—", "shop"], ["ã‚³ãƒ¼ã‚¹", "course"]] %></span>
              <div class="genrezorn search-select-bar">
                <%= f.select :shop_genre_id, ShopGenre.all.map { |shopgenre| [shopgenre.name, shopgenre.id]}, :prompt => "ãªã‚“ã‹é¸ã‚“ã§ã‚ˆ" %>
              </div> 
              <div class="pricezorn">
                <span><%= f.select :price_gteq, [["ï¼’ï¼ï¼ï¼å††", "2000"], ["ï¼’ï¼•ï¼ï¼å††", "2500"], ["ï¼“ï¼ï¼ï¼å††", "3000"], ["ï¼“ï¼•ï¼ï¼å††", "3500"], ["ï¼”ï¼ï¼ï¼å††", "4000"], ["ï¼”ï¼•ï¼ï¼å††", "4500"]], :prompt => "ãªã‚“ã‹é¸ã‚“ã§ã‚ˆ" %></span> ã€œ <span><%= f.select :price_lteq, [["ï¼’ï¼ï¼ï¼å††", "2000"], ["ï¼’ï¼•ï¼ï¼å††", "2500"], ["ï¼“ï¼ï¼ï¼å††", "3000"], ["ï¼“ï¼•ï¼ï¼å††", "3500"], ["ï¼”ï¼ï¼ï¼å††", "4000"], ["ï¼”ï¼•ï¼ï¼å††", "4500"], ["ï¼•ï¼ï¼ï¼å††", "5000"], ["ï¼•ï¼•ï¼ï¼å††", "5500"], ["ï¼–ï¼ï¼ï¼å††", "6000"]], :prompt => "ä¸Šé™ãªã—" %></span>
              </div>
    
          </div>
          <%= f.text_field :content, class: "search-bar",placeholder: "ðŸ”ã‚­ãƒ¼ãƒ¯ãƒ¼ãƒ‰ã€åº—èˆ—åã‚„ã‚³ãƒ¼ã‚¹åãªã©" %>
          <%= f.submit 'æ¤œç´¢', class: "btn-primary search-btn" %>
        <% end %>
      </div> 
      <div>
      </div>
    </div>
  </div>



<script>
	$("#model").ready(function() {
    var category_val = $("#model").val();
        $('.pricezorn').css('display', 'none');
        $('.genrezorn').css('display', 'block');
    });

	$("#model").change(function() {
    var category_val = $("#model").val();
    if(category_val == "shop") {
        $('.pricezorn').css('display', 'none');
        $('.genrezorn').css('display', 'block');
    }else if(category_val == "course") {
        $('.pricezorn').css('display', 'block');
        $('.genrezorn').css('display', 'none');
    }
});
</script>


