<div class="container">
  <div class="row">
    <div class="col-11">
      <h2><strong>コース詳細</strong></h2>
      <table class="table table-bordered">
        <tr class="shop-tr">
          <td>コース名</td>
          <td>
            <%= @course.name %>
          </td>
        </tr>
        <tr class="shop-tr">
          <td>説明</td>
          <td>
            <%= @course.introduction %>
          </td>
        </tr>
        <tr class="shop-tr">
          <td>最大人数</td>
          <td>
            <%= @course.maximum_people %>
          </td>
        </tr>
        <tr class="shop-tr">
          <td>最小人数</td>
          <td>
            <%= @course.minimum_people %>
          </td>
        </tr>
        <tr class="shop-tr">
          <td>価格</td>
          <td>
            <%= @course.price %>
          </td>
        </tr>
      </table><br>
      <%= link_to '編集する', edit_shops_course_path(@course), class: "btn btn-secondary" %> 
      <%= link_to '削除する', shops_course_path(@course.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-secondary" %> 
      <%= link_to "戻る", shops_courses_path(current_shop), class: "btn btn-secondary" %><br><br>
    </div>
  </div>
</div>
