<%= form_with model: @user ,url: users_user_path(current_user), local: true do |f| %>
  <h4>お名前</h4>
  <%= f.text_field :name %>
  <span><%= f.label :電話番号 %><%= f.text_field :phonenumber %></span><br>
  <%= f.label :メールアドレス %>
  <%= f.email_field :email %><br>
  <%= f.label :住所 %>
  <%= f.text_area :address %><br>
  <%= link_to "パスワード情報編集", change_password_users_user_path %>
  <%= link_to "退会", users_user_path(current_user), method: :delete, data: {confirm: "本当に退会しますか？"} %>
  <%= f.submit "更新" %>
<% end %>