<div class="container-fluid">
  
    <% if user_signed_in? %>
     <div class="row">
        <div class="col-md-12 border-top border-bottom rounded text-center" style="background-color:rgb(0, 255, 0);">
            <h2>My Page</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 my-2 mr-2 border border-success text-center">
            <p>お名前</p>
        </div>
        <div class="col-md-6 my-2 mr-2 border border-success text-center">
            <p><%= current_user.name %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 my-2 mr-2 border border-success text-center">
            <p>電話番号</p>
        </div>
        <div class="col-md-6 my-2 mr-2 border border-success text-center">
            <p><%= current_user.phonenumber %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 my-2 mr-2 border border-success text-center">
            <p>メールアドレス</p>
        </div>
        <div class="col-md-6 my-2 border border-success mr-2 text-center">
            <p><%= current_user.email %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 my-2 mr-2 border border-success text-center">
            <p>住所</p>
        </div>
        <div class="col-md-6 my-2 mr-2 border border-success text-center">
            <p><%= current_user.address %></p>
        </div><br><br>
    </div>
    <div class="row">
        <div class="col-md-12 my-2">
            <%= link_to "登録情報編集", edit_users_user_path(current_user.id), class: 'btn btn-outline-success btn-block text-center' %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 my-2">
            <%= link_to "注文一覧", users_orders_path(current_user.id), class: 'btn btn-outline-success btn-block text-center' %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 my-2">
            <%= link_to "お気に入り編集", users_favorites_path(current_user.id), class: 'btn btn-outline-success btn-block text-center' %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 my-2">
            <%= link_to "クレジットカード一覧", users_credit_cards_path(current_user.id), class: 'btn btn-outline-success btn-block text-center' %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 my-2">
            <%= link_to "配送先一覧", users_addresses_path(current_user), class: 'btn btn-outline-success btn-block text-center' %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 my-2">
            <%= link_to "お問い合わせ一覧", users_inquiries_path(current_user.id), class: 'btn btn-outline-success btn-block text-center' %>
        </div>
    </div>
    <% else %>
        redirect_to(root_path)
    <% end %>
  </div>
</div>