<div class="line">
	<h1 id="room" data-room="<%= @room.id %>" data-shop="<%= current_shop.id %>"> <%# binding.pry %>大蛇丸</h1>
		<div class="line_title">
		  <h1>Chat room</h1>
			<div class="line__contents scroll">
				<div class='message'>
					<% @message.each do |message| %>
					  <% if message.user_id == nil %>
					     <div class="shops_name">
					       <p>あなた</p>
					     </div>
					  <% else %>
						 <div class="users_name">
						   <p><%= message.user.name %>さん</p>
						 </div>
					  <% end %>


					  <% if message.shop_id == nil %>
					     <div class="shops_comments">
					       <p><%= message.message %></p>
					     </div>
					  <% else %>
					     <div class="users_comments">
					       <p><%= message.message %></p>
					     </div>
					  <% end %>

					<% end %>

					<div class="orochi" data-name="<%= @user.name %>"></div>

					<div class="messages" data-user="shop">
					  </div>
			</div>
		</div>
		<div class="col-8 offset-3">
	      <input type="text" class="shop_post">
	    </div>
</div>

