<% if user_signed_in? %>
  <% if shop.favorited_by?(current_user) %>
    <%= link_to users_favorite_path(shop_id: shop.id), method: :delete, class: "fav", remote: true do %>
      <div class="vertical_like">
        <i class="fas fa-heart">お気に入り解除</i>
        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>
        <span class="grey-text text-darken-2">
          <%#<%= shop.favorites_count %>
        </span>
      </div>
    <% end %>
  <% else %>
    <%= link_to users_favorites_path(shop_id: shop.id), method: :post, class: "fav", remote: true do %>
      <div class="vertical_like">
        <i class="far fa-heart">お気に入り登録</i>
        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>
        <span class="red-text">
          <%#<%= shop.favorites_count %>
        </span>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%#<% if shop.favorites_count > 0 %>
    <%#<div class="vertical_like">
      <%#<i class="fas fa-heart">favorite</i>
      <%#<span class="red-text">
        <%#<%= shop.favorites_count %>
      <%#</span>
    <%#</div>
  <%#<% else %>
    <div class="vertical_like">
      <i class="fas fa-heart">未ログイン</i>
      <span class="grey-text text-darken-2">
        <%#<%= shop.favorites_count %>
      </span>
    </div>
  <%#<% end %>
<% end %>