<table>
	<tr>
		<th>名前</th>
		<th>電話番号</th>
		<th>住所</th>
		<th>会員状況</th>
		<th></th>
	</tr>
   <% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td>TEL:<%= user.phonenumber %></td>
			<td><%= user.address %></td>
			<% if user.deleted_at.nil? %>
				<td>有効会員</td>
			<% else %>
				<td>退会処理済</td>
			<% end %>
			<td><%= link_to "会員ステータス処理", admins_user_path(user.id) %></td>
		</tr>
    <% end %>
</table>
<div class="row">
<%= link_to "トップへ戻る", admins_top_path, class: "top_list" %>
</div>