<div class="container">
  <div class="row">
    <div class="col-12">
      <% if flash[:notice] %>
        <div class="col-xs-6 col-xs-offset-1" >
          <div class="flash"><br><br>
            <h4><strong>
              <%= flash[:notice] %>
            </strong></h4>
          </div>
        </div>
      </div>
      <% end %>
      <h2><strong>お知らせ一覧</strong></h2>
      <% @informations.each do |information| %>
    <div class="col-5">
      <%= attachment_image_tag information, :information_image, :fill, 250, 250, format: 'jpeg', fallback: "no_image.shop.jpg", size:"250x250" %>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h6>店名</h6>
    </div>
    <div class="col-6">
      <h5><%= link_to information.shop.name, shops_shop_path(information.shop_id) %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h6>件名</h6>
    </div>
    <div class="col-6">
      <h5><%= link_to information.title, shops_information_path(information.id) %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h6>内容</h6>
    </div>
    <div class="col-6">
      <h5><%= information.text %></h5>
    </div>
  </div>
  <% end %>
    <div class="col-4"><br><br><br>
      <%= link_to "お知らせ新規作成", new_shops_information_path, class:"btn btn-secondary" %>
    </div>
</div>