<div class="container">
  <div class="row">
    <div class="col-12">
      <% if flash[:notice] %>
        <div class="col-xs-6 col-xs-offset-1" >
          <div class="flash"><br><br>
            <h4><strong>
              <%= flash[:notice] %>
            </strong></h4>
          </div>
        </div>
      </div>
      <% end %>
      <h2><strong>お知らせ一覧</strong></h2>
      <% @informations.each do |information| %>
        <%= attachment_image_tag information, :information_image, :fill, 250, 250, format: 'jpeg', fallback: "no_image.shop.jpg", size:"250x250" %>
        <table class="table table-bordered">
          <tr class="shop-tr">
            <th>店名</th>
            <th>件名</th>
            <th>内容</th>
          </tr>
          <tr class="shop-tr">
            <td><%= link_to information.shop.name, shops_shop_path(information.shop_id) %></td>
            <td><%= link_to information.title, shops_information_path(information.id) %></td>
            <td><%= information.text %></td>
          </tr>
        </table>
      <% end %>
    <div class="col-8"><br><br>
      <%= link_to "お知らせ新規作成", new_shops_information_path, class: "col-7 btn btn-secondary" %>
    </div><br>
</div>