<div class="container">
  <div class="col-11 ofset-1">
    <h2><strong>お知らせ新規投稿</strong></h2><br>
    <%= form_with(url:confirm_shops_informations_path, method: :get, data: {remote: false}) do |f| %>
    <div class="row">
      <div class="col-1">
        <h4><%= f.label :件名, class: 'control-label' %></h4>
      </div>
      <%= f.text_field :title, class: 'col-6 form-control' %>
    </div>
    <div class="row">
      <div class="col-1">
        <h4><%= f.label :内容, class: 'control-label' %></h4>
      </div>
      <%= f.text_area :text, class: 'col-6 form-control',placeholder: "お客様へわかりやすく情報を共有しましょう。" %><br><br><br><br><br><br>
    </div><br>
      <div class="col-8">
        <%= f.submit "確認画面へ進む",class: "col-3 btn btn-secondary" %>
        <h6>確認画面で画像を選択できます。</h6>
        <%= link_to "お知らせ一覧", shops_informations_path, class:"col-3 btn btn-secondary" %><br><br>
      </div>
      <% end %>
  </div>
</div>


