     <div class="course-confirm">
		<%= form_with url: users_course_confirm_path(course.id), method: :get, data: {remote: false} do |f| %>
			<div>
				<h4><%= f.hidden_field :shop_name, value: shop.name %></h4>
			</div>
			<div>
				<h4><%= f.hidden_field  :course_id ,value: course.id %></h4>
			</div>

			<div class="container">
				<div class="row">
					<div class="order_reserve_date col-md-7">
						<%= month_calendar do |date|  %>
						  <%= date.strftime("%d") %>
						<% end %>
					</div>

					<div class="col-md-4 offset-md-1">
					  <div class="select-select">
						<div class="oder-select">
							<h4><%= f.label :日にち %>:
				          <%= f.text_field :reserve_date, placeholder: '選択してください' %></h4>
						</div>
						<div class="oder-select">
							<h4><%= f.label :時間  %>:
									<%= f.select :reserve_time, reserve_time, include_blank: "選択して下さい" %></h4>
						</div>
						<div class="oder-select">
							<h4><%= f.label :人数  %>:
									<%= f.select :people_number, @resave_people, include_blank: "選択して下さい" %>名</h4>
						</div>

						<button type="button" class="btn btn-primary btn-lg oder-select" data-toggle="modal" data-target="#sampleModal">
							詳細入力へ
						</button>
					  </div>
					</div>
				</div>
			</div>
     </div>
			<!-- モーダル・ダイアログ -->
			<div class="modal fade" id="sampleModal" tabindex="-1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
							<h4 class="modal-title">予約リクエスト</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<h4>お客様情報</h4>
									<hr class="bottom-line">
									<h5>
										<%= f.label :名前 %>:
										<%= current_user.name %>様
									</h5>
									<h5>
										<%= f.label :連絡先電話番号 %>:
										<%= current_user.phonenumber %>
									</h5>
									<h5>
										<%= f.label :メールアドレス %>:
										<%= current_user.email %>
									</h5>
									<h5>
										<%= f.label :支払い方法 %>:
									  <%= f.radio_button :payment, "クレジットカード" %>
    								<%= f.label :payment, "クレジットカード" %>
    								<%= f.radio_button :payment, "銀行振込" %>
    								<%= f.label :payment, "銀行振込" %>
    							</h5>
    							<h6>※銀行振込の場合、振込手数料はお客様のご負担でお願いします</h6>
    							<h5>
    								<%= f.label :お届け先を選択 %>:</h5>
  									<table class ="table">
											<tr>
												<td>
													<%= f.radio_button("radio_num", "1") %>ご自身の住所<br>
										  		<% @address  =  "〒" + current_user.postal_code + "  " + current_user.address %>
										  		<%= f.hidden_field :delivery_address ,:value => @address %><%= @address %>
										  	</td>
											</tr>
											<tr>
												<td>
													<label><%= f.radio_button("radio_num", "2") %>登録先住所から選択</label><br>
									  			<%= f.collection_select :delivery_address, current_user.addresses, :id, :address%><br>
									  		</td>
											</tr>
											<tr>
												<td>
													<label><%= f.radio_button("radio_num", "3") %>新しいお届け先</label><br>
										    	<p>郵便番号</p>
											    <%= f.text_field :postal_code %>
											    <p>住所</p>
											    <%= f.text_area :address %>
											    <p>宛名</p>
											    <%= f.text_field :name %>
											    <p>連絡先</p>
											    <%= f.text_field :phone_number %>
										  	</td>
											</tr>
										</table>
										<div>
											<h4><%= f.label :ご質問・ご要望 %>:
	          					<%= f.text_area :option, class: "form-control",placeholder: "お店に伝えたい内容をこちらにご記入ください" %></h4>
										</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
							<button type="button" class="btn btn-primary"><%= f.submit "ボタン", class: "btn btn-primary" %></button>
						</div>
					</div>
				</div>
			</div>
		<% end %>