
<div class="container">
	<div class="row">
		<div class="course_image col-md-4">
	       <%= attachment_image_tag @course, :course_image, :fill, 200, 150, format: 'jpeg', class: "img-rounded pull-left profile-img", fallback: "no_image.jpg", :size =>'400x400' %>	
	    </div>

	    <div class="course_table col-md-7 offset-md-1">
			<table class="table">
				<tr>
					<th>コース説明</th>
					<th><%= @course.introduction %></th>
				<tr>
					<th>コース詳細</th>
					<td><%= @course.name %>  <%= @course.people_number %></td>
				</tr>
				<tr>
					<th>最大予約人数</th>
					<td><%= @course.maximum_people %></td>
				</tr>
				<tr>
					<th>最低予約人数</th>
					<td><%= @course.minimum_people %></td>
				</tr>
				<tr>
					<th>価格</th>
					<td><%= @course.price %> / 人</td>
				</tr>
			</table>

			<div class="return_button">
				<%= link_to "戻る", search_path(@datas), class: "btn btn-danger rounded-pill" %>
			</div>
		</div>
	</div>
</div>

<%= render 'users/orders/select_course', course: @course, order: @order, shop: @shop, reserve_time: @reserve_time %>
