<h1>Admins::Inquiries#edit</h1>
<%= form_with model: @inquiry, url: admins_inquiry_path, local: true do |inquiry| %>
<%= @inquiry.shop.name %>
<%= @inquiry.title %>
<%= @inquiry.body %>
<%= inquiry.text_area :reply %>
<%= inquiry.submit '返信' %>
<% end %>