<div class="container">
  <div class="row">
    <div class="col-12" style="border: 1px solid #000;"><br>
      <h2><strong>マイページ編集</strong></h2><br>
      <%= form_for(@shop, url:shops_shop_path(@shop.id)) do |f| %>
        <div class="row">
          <div class="col-3">
          <%= f.label :name, "店舗名", class: 'control-label' %></h5>
        </div>
          <%= f.text_field :name, autocomplete: "name", class: 'col-4 form-control' %>
        </div>
        <div class="row">
          <div class="col-3">
            <h5><%= f.label :email, 'メールアドレス', class: 'control-label' %></h5>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'col-4 form-control' %>
        </div>
        <div class="row">
          <div class="col-3">
            <h5><%= f.label :postal_code, '郵便番号', class: 'control-label' %></h5>
          </div>
            <%= f.text_field :postal_code, class: 'col-4 form-control' %>
        </div>
        <div class="row">
          <div class="col-3">
            <h5><%= f.label :address, '住所', class: 'control-label' %></h5>
          </div>
          <%= f.text_field :address, class: 'col-4 form-control' %>
        </div>
        <div class="row">
          <div class="col-3">
            <h5><%= f.label :phonenumber, '電話番号', class: 'control-label' %></h5>
          </div>
          <%= f.text_field :phonenumber, class: 'col-4 form-control' %>
        </div>
        <div class="row">
          <div class="col-3">
            <h5><%= f.label :shop_genre_id, '店舗ジャンル', class: 'control-label' %></h5>
          </div>
            <%= collection_check_boxes(:shop, :shop_genre_ids, ShopGenre.all, :id, :name, include_hidden: false) do |f| %>
              <%= f.label {f.check_box + f.text} %>
            <% end %>
        </div>
        <div class="row">
          <div class="col-3">
            <h5><%= f.label :open_time, '開店時間', class: 'control-label' %></h5>
          </div>
          <%= f.text_field :open_time, class: 'col-4 form-control' %>
        </div>
        <div class="row">
          <div class="col-3">
            <h5><%= f.label :close_time, '閉店時間', class: 'control-label' %></h5>
          </div>
          <%= f.text_field :close_time, class: 'col-4 form-control' %>
        </div>
        <div class="row">
          <div class="col-3">
            <h5><%= f.label :lunch_limit, 'ランチラストオーダー', class: 'control-label' %></h5>
          </div>
          <%= f.text_field :lunch_limit, class: 'col-4 form-control' %>
        </div>
        <div class="row">
          <div class="col-3">
            <h5><%= f.label :dinner_limit, 'ディナーラストオーダー', class: 'control-label' %></h5>
          </div>
          <%= f.text_field :dinner_limit, class: 'col-4 form-control' %>
        </div><br>
        <div class="row">
          <div class="col-3">
          </div>
          <%= f.label :shop_image, "画像を変更", class: 'control-label btn btn-secondary' %>
          <%= f.attachment_field :shop_image, style: "display: none;" %>
        </div>
        <div class="row">
          <div class="col-3">
          </div>
          <%= f.submit "編集内容を保存する", class: "col-4 btn btn-secondary" %>
        </div><br>
        <% end %>
    </div>
  </div>
</div>