<h1>Users::Shops#show</h1>

<p>Find me in app/views/users/shops/show.html.erb</p>

<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<%= render 'users/reviews/index', reviews: @reviews %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<%= render 'users/reviews/new', shop: @shop, review: @review %>
		</div>
	</div>
</div>

<h1>店舗詳細</h1>
<div id="star-rate-<%= @shop.id %>"></div>
<p><%= @shop.name %></p>
<div><%= @shop.shop_image_id%></div>
<p><%= @shop.phonenumber %></p>
<p><%= @shop.postal_code %></p>
<p><%= @shop.address %></p>
<div>
<p>開店時間</p>
<p><%= @shop.open_time %>~<%= @shop.close_time %></p>
</div>
<div>
<% @courses.each do |course| %>
    <p>----------</p>
    <span><%= link_to course.name , users_course_path(course.id) %></span><br>
    <span><%= course.course_image_id %></span>
<% end %>
</div>
<span><%= link_to "コース一覧", users_courses_path(shop_id: params[:id]) %></span><br>
<span><%= link_to "お店一覧", users_shops_path%></span>

<%# <% if @shop.favorited_by?(current_user) %>
<%#  <span>
      <%= link_to "お気に入り解除", users_favorite_path(user_id: current_user.id, shop_id: @shop.id), method: :delete, class: "fav", remote: true do %>
<%#        <i class="fas fa-heart" id="<%= @shop.id %>
<%#"></i>
<%#      <% end %>
<%#  </span>
<%#<% else %>
<%#  <span>
<%#      <i class="far fa-heart"></i>
<%#      <span><%= link_to "お気に入り登録", users_favorites_path(shop_id: @shop.id), method: :post %></span>
<%#  </span>
<%#<% end %>

<%#<%= flash[:notice] %>

<div id="favorites_buttons_<%= @shop.id %>">
    <%= render partial: 'users/favorites/favorite', locals: { shop: @shop, favorites: @favorites} %>
</div>

<%= link_to "チャットする", users_room_path(@shop.id) %>


<h2>gmap</h2>
<div id='map'></div>

<style>
#map{
  height: 400px;
}
</style>
<script>
  // <!-- これはこれはグールマップ -->
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
  // ---------------------
  // これはレビュー　//
    $('#star-rate-<%= @shop.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: '<%= @shop.reviews.average(:star).to_f.round(1) %>',
    });
    // -----------------
</script>


