<div class="line">
	<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">大蛇丸</h1>
		<div class="line_title">
		  <h1>Chat room</h1>
			<div class="line__contents scroll">
				<div class='message'>
				<% @message.each do |message| %>
				  <% if message.shop_id == nil %>
				     <div class="user_name">
				       <p>あなた</p>
				     </div>
				  <% else %>
					   <p><%= attachment_image_tag @shop, :shop_image, :fill, 200, 150, format: 'jpeg', class: "img-rounded pull-left profile-img", class: "shop_name", fallback: "no_image.jpg", :size =>'50x50' %></p>
				  <% end %>


				  <% if message.shop_id == nil %>
				     <div class="user_comments">
				       <p><%= message.message %></p>
				     </div>
				  <% else %>
				     <div class="comments">
				       <p><%= message.message %></p>
				     </div>
				  <% end %>
				<% end %>


				<div class="orochi" data-name="<%= @shop.name %>"></div>

					<div class="messages" data-user="user">
					  </div>

			</div>
		</div>
   <div class="col-8 offset-3">
	<input type="text" class="post">
  </div>
</div>

